@font-face {
  font-family: 'ZurichBT-Bold';
  src: url(assets/ZurichBT-Bold.ttf);
}

@font-face {
  font-family: 'ZurichBT-Light';
  src: url(assets/ZurichBT-Light.ttf);
}

html {
  overflow: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: solid 1px #ffffff;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.branded-footer {
  background: #006386;
  background: linear-gradient(300deg, #016085 10%, #001946 30%, #016085 50%, #001946 70%, #016085 90%);
  background-size: 600%;
  background-position: 0 0;
  -webkit-animation: bmrFooterAnimation 25s linear forwards infinite;
          animation: bmrFooterAnimation 25s linear forwards infinite;
}

.branded-footer * {
  font-family: 'ZurichBT-Light', sans-serif;
}

.logo-container {
  width: 25%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  border-right: solid 1px #ffffff;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 969px) {
  .logo-container {
    width: 45%;
  }
}

.logo-container img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.info-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-container .footer-excerpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-container .footer-excerpt p {
  margin: 0 auto 0 2rem;
  color: #ffffff;
  max-width: 500px;
}

@media screen and (max-width: 969px) {
  .info-container .footer-excerpt p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .info-container .footer-excerpt p {
    margin: 1rem;
  }
}

.footer-bottom {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 500px) {
  .footer-bottom {
    padding: 1.4rem;
  }
}

.footer-bottom .socials {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-bottom .socials :nth-child(2) {
  margin-left: 2rem;
}

@media screen and (min-width: 969px) {
  .footer-bottom .socials {
    display: none;
  }
}

.footer-bottom .footer-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-bottom .terms {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 969px) {
  .footer-bottom .terms {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .footer-bottom .terms {
    padding-top: 1rem;
  }
}

.footer-bottom .terms a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .footer-bottom .terms a {
    font-size: 0.7rem;
  }
}

.footer-bottom .discover-more {
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  font-weight: 600;
  font-family: 'ZurichBT-Bold', sans-serif;
}

@media screen and (max-width: 500px) {
  .footer-bottom .discover-more {
    font-size: 0.7rem;
    white-space: nowrap;
  }
}

.footer-bottom .discover-more::after {
  content: '';
  width: 50%;
  height: 6px;
  background-color: #E24725;
  position: absolute;
  bottom: -10px;
  left: 0;
}

@media screen and (max-width: 969px) {
  .footer-bottom .discover-more::after {
    bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .footer-bottom .discover-more::after {
    bottom: 5px;
  }
}

.socials {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.socials img {
  width: 40px;
  margin: 0 2rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

@media screen and (max-width: 969px) {
  .socials img {
    width: 30px;
    margin: 0 1rem 0 0;
  }
}

@media screen and (max-width: 969px) {
  .flex-container .socials {
    display: none;
  }
}

@-webkit-keyframes bmrFooterAnimation {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes bmrFooterAnimation {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}
/*# sourceMappingURL=branded-footer.css.map */