@font-face {
  font-family: 'ZurichBT-Bold';
  src: url(https://bmr-subfooter.pages.dev/assets/ZurichBT-Bold.ttf);
  src: url(https://bmr-subfooter.pages.dev/assets/ZurichBT-Bold.woff) format("woff"), url(https://bmr-subfooter.pages.dev/assets/ZurichBT-Bold.woff2) format("woff2"); }

@font-face {
  font-family: 'ZurichBT-Light';
  src: url(https://bmr-subfooter.pages.dev/assets/ZurichBT-Light.ttf);
  src: url(https://bmr-subfooter.pages.dev/assets/ZurichBT-Light.woff) format("woff"), url(https://bmr-subfooter.pages.dev/assets/ZurichBT-Light.woff2) format("woff2"); }

#bmrsf-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: solid 1px #ffffff;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media screen and (max-width: 750px) {
    #bmrsf-flex-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

#bmrsf {
  background: #262222;
  font-family: 'ZurichBT-Light', sans-serif;
  color: #FFFFFF !important; }
  #bmrsf * {
    color: #FFFFFF !important; }

#bmrsf-logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right: solid 1px #ffffff;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 969px) {
    #bmrsf-logo-container {
      width: 45%;
      padding: 25px 25px; } }
  @media screen and (max-width: 750px) {
    #bmrsf-logo-container {
      width: 100%;
      padding: 25px 0 0 25px;
      border-right: none;
      margin: 0 auto 25px; } }
  #bmrsf-logo-container svg {
    min-width: 250px;
    max-width: 80vw; }

#bmrsf-info-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 50px; }
  @media screen and (max-width: 969px) {
    #bmrsf-info-container {
      padding: 25px 25px; } }
  @media screen and (min-width: 750px) {
    #bmrsf-info-container {
      width: 100%; } }
  @media screen and (max-width: 750px) {
    #bmrsf-info-container {
      padding: 0 25px 25px; } }
  #bmrsf-info-container .bmrsf-socials {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 115px;
            flex: 0 0 115px; }

#bmrsf-excerpt {
  margin: 0;
  margin-right: 1em;
  max-width: 450px;
  font-weight: 300;
  font-size: 14px; }
  @media screen and (max-width: 750px) {
    #bmrsf-excerpt {
      margin-right: 0; } }

#bmrsf-bottom {
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px; }
  @media screen and (max-width: 969px) {
    #bmrsf-bottom {
      padding: 25px 25px; } }
  #bmrsf-bottom .bmrsf-socials :nth-child(2) {
    margin-left: 27.77778px; }
  @media screen and (min-width: 969px) {
    #bmrsf-bottom .bmrsf-socials {
      display: none; } }

#bmrsf-terms {
  white-space: nowrap; }
  #bmrsf-terms > * {
    display: inline-block;
    text-decoration: none; }
  @media screen and (max-width: 969px) {
    #bmrsf-terms {
      padding-top: 25px;
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5;
      width: 100%; } }

#bmrsf-discover {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  font-family: 'ZurichBT-Bold', sans-serif;
  font-size: 14px;
  margin-left: auto;
  padding-bottom: calc(1em + 4px); }
  @media screen and (max-width: 969px) {
    #bmrsf-discover {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      font-size: 12px; } }
  #bmrsf-discover::after {
    content: '';
    width: 50%;
    height: 4px;
    background-color: #E24725;
    position: absolute;
    bottom: 0;
    left: 0; }

#bmrsf-flex-container .bmrsf-socials {
  margin-left: auto; }
  @media screen and (max-width: 969px) {
    #bmrsf-flex-container .bmrsf-socials {
      display: none; } }

.bmrsf-wrapper #bmrsf {
  display: block !important; }
/*# sourceMappingURL=branded-footer.css.map */