@font-face {
    font-family: 'ZurichBT-Bold';
    src: url(./ZurichBT-Bold.ttf);
    src: url(./ZurichBT-Bold.woff) format('woff'),
         url(./ZurichBT-Bold.woff2) format('woff2');
}
@font-face {
    font-family: 'ZurichBT-Light';
    src: url(./ZurichBT-Light.ttf);
    src: url(./ZurichBT-Light.woff) format('woff'),
        url(./ZurichBT-Light.woff2) format('woff2');
}

$bmrLightblue: #016085;
$bmrDarkBlue: #001946;
$bmrBackground: #262222;
$sidePadding: 50px;
$topPadding: 50px;


html {
    overflow: hidden;
}
body {
    margin: 0;
}
.flex-container {
    display: flex;
    width: 100%;
    border-bottom: solid 1px #ffffff;
    flex-wrap: nowrap;
    @media screen and (max-width: 750px) {
        flex-direction: column;
    }
}

.branded-footer {
    background: $bmrBackground;


    * {
        font-family: 'ZurichBT-Light', sans-serif;
    }
}
.logo-container {
    width: 25%;
    flex: 1 1 auto;
    text-align: center;
    border-right: solid 1px #ffffff;
    padding: $topPadding $sidePadding + 25;
    display: flex;
    @media screen and (max-width: 969px) {
        width: 45%;
        padding: $topPadding / 2 $sidePadding / 2;
    }
    @media screen and (max-width: 750px) {
        width: 100%;
        padding: $topPadding / 2 0 0 $sidePadding / 2;
        border-right: none;
        margin: 0 auto $topPadding / 2;
    }

    img {
        max-width: 100%;
        min-width: 250px;
        object-fit: contain;


    }
}

.info-container {
    max-width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    padding: $topPadding $sidePadding;

    @media screen and (max-width: 969px) {
        padding: $topPadding / 2 $sidePadding / 2;
    }

    @media screen and (min-width: 750px) {
        width: 100%;
    }
    @media screen and (max-width: 750px) {
        padding: 0 $sidePadding / 2  $topPadding / 2;
    }

    .footer-excerpt {
            margin: 0 auto 0 0;
            color: #ffffff;
            max-width: 450px;
            font-weight: 300;
            font-size: 14px;

    }
}

.footer-bottom {
    padding: $topPadding $sidePadding;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 969px) {

        padding: $topPadding / 2 $sidePadding / 2;
    }
    
    .socials {
        justify-content: flex-start;

        :nth-child(2) {
            margin-left: $sidePadding / 1.8;
        }
        @media screen and (min-width: 969px) {
            display: none;
            
        }
    }
    .footer-bottom-row {
        display: flex;
        flex-direction: row;
        position: relative;

    }
    .terms {
        flex: 1 0 auto;
        display: flex;
		font-size: 12px;

        @media screen and (max-width: 969px) {
            padding-top: $topPadding;
            
        }
        @media screen and (max-width: 500px) {
            padding-top: $topPadding / 2;

        }

        a {
            text-decoration: none;
            color: #ffffff;
            @media screen and (max-width: 500px) {
                font-size: 10px;

                
            }
        }
        .copyright {
                color: #ffffff;
                margin-right: 10px;
                @media screen and (max-width: 500px) {
                    font-size: 10px;
            }
        }
    }
}
.discover-more {
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    font-weight: 600;
    white-space: nowrap;
    font-family: 'ZurichBT-Bold', sans-serif;
	font-size: 12px;

	a {
		text-decoration: none;
		color: #FFFFFF;
		font-weight: 600;
		font-family: 'ZurichBT-Bold', sans-serif;
	}
    @media screen and (max-width: 850px) {
        position: absolute;
        right: 0;
        top: -50%
        
        
    }
    @media screen and (max-width: 500px) {
        font-size: 11px;
        position: absolute;
        right: 0;
        top: -75%
    }


    &::after {
        content: '';
        width:50%;
        height:4px;
        background-color:#E24725;
        position: absolute;
        bottom: -15px;
        left: 0;
        @media screen and (max-width: 969px) {
            bottom: 30px;
        }
    
        @media screen and (max-width: 850px) {
            bottom: -15px;

            
        }
    }
}

.socials {
    position: relative;
    .socials-link-abs {
        position:absolute;
    }
    .socials-link-abs:nth-child(2) {
        top: 0;
        left: 0;
    }
    .socials-link-abs:nth-child(3) {
        top: 0;
        right: 0;
    }
}

.flex-container .socials {
    line-height: 40px;
    @media screen and (max-width: 969px) {
        display: none;
        
    }
}
@keyframes bmrFooterAnimation {
    0%   {background-position: 0 0;}
    25% {background-position: 50% 0;}
    50% {background-position: 90% 0;}
    60% {background-position: 60%;}
    75% {background-position: 40%;}
    100%  {background-position: 0 0;}
}
